<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{template-restaurante}"
  th:with="link=@{/cliente/home}">

<body>
  
<div layout:fragment="content">
  <!--Container do cadastro e alteração-->
  <!--Inicio da Área do formulário-->
  <div class="container mt-3">
    <form method="GET" th:action="">
      <div class="card">

        <div class="card-header">Cadastro de Item do Cardápio</div>
  
        <div class="card-body">
          <form>
  
            <input type="hidden" name="id-item">
  
            <div class="form-row">
              <div class="form-group col">
                <label for="nomeItem">Nome do Item</label>
                <input type="text" class="form-control" id="nomeItem" placeholder="Feijoada do Rei">
              </div>
            </div>
  
            <div class="form-row">
  
              <div class="form-group col">
                <label for="descricao">Descrição</label>
                <textarea id="descricao" class="form-control" name="" rows="3"></textarea>
              </div>
  
            </div>
  
            <div class="form-row">
              
              <label for="categoria">Categoria</label>
              <input type="text" class="form-control" id="categoria">
            
            </div>
  
            <div class="form-row">
              
              <div class="form-group col-md-2">
                <label for="preco">Preço</label>
                <input type="text" class="form-control" id="preco" placeholder="R$ 20,00">
              </div>
  
              <div class="form-group col-md-2">
                
              </div>
  
            </div>
  
            <div class="form-row">
  
              <div class="form-col-md-2">
                <button type="submit" class="btn btn-primary">Cadastrar</button>
              </div>
              <div class="form-col-md-2">
                <button type="submit" class="btn btn-danger">Cancelar</button>
              </div>
  
            </div>
            
          </form>
        </div>
  
      </div>
    </form>
  </div>
  <!--Fim da Área do formulário-->

  <!--Container do cardápio-->
  <div class="container mt-3">

    <div class="card">

      <div class="card-header">

        Itens Cadastrados

      </div>

      <div class="card-body">
        <div class="card-deck">
          
          <div class="card w-auto text-center">
            <div class="card-header">
              Nome Item
            </div>       

            <div class="card-body">
              <img src="images/Logo McDonald_MCDON_DRIV15.png" class="img-comida img-fluid" alt="..." id="imagemPedidos">
              <h5 class="card-title"></h5>
              <p class="card-text">Descrição: 2x Big Mac's + Refri 2L</p>
              <p class="card-text"><small class="text-muted">Valor: R$35,00</small></p>
              <a href="#" class="btn btn-primary">Editar</a>
            </div>

          </div>

          <div class="card w-auto text-center">
            <div class="card-header">
              25/04/2020
            </div>

            <div class="card-body">
              <img src="images/201910292243_94aaf166-84cc-4ebf-a35d-d223be34d01f.jpeg" class="img-comida img-fluid" alt="..."
                id="imagemPedidos">
              <h5 class="card-title"></h5>
              <p class="card-text">Pedido: Peixada p/ 4</p>
              <p class="card-text"><small class="text-muted">Valor: R$250,00</small></p>
              <a href="#" class="btn btn-primary">Nota</a>
            </div>

          </div>

          <div class="card w-auto text-center">
            <div class="card-header">
              29/04/2020
            </div>

            <div class="card-body">
              <img src="images/202001031317_CXpO_i.png" class="img-comida img-fluid" alt="..." id="imagemPedidos">
              <h5 class="card-title"></h5>
              <p class="card-text">Pedido: 4x Box Frango Xadrez</p>
              <p class="card-text"><small class="text-muted">Valor: R$100,00</small></p>
              <a href="#" class="btn btn-primary">Nota</a>
            </div>

          </div>

        </div>
      </div>

      <div class="text-center">Paginação <<>> </div>

    </div>

  </div>
</div>

</body>

</html>