<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org" layout:decorate="~{template-restaurante}" th:with="link=@{/restaurante/home}">

<body id="fundo">
  <div layout:fragment="content">
    <!--Container do cadastro e alteração-->
    <!--Inicio da Área do formulário-->
    <div class="container mt-3">
      <div class="row">
        <div class="col-3 mb-4">
          <div class="card text-white bg-primary">
          <div class="card-header">Header</div>
          <div class="card-body">
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
          </div>
        </div>
        
        <div class="col-3 mb-4">
          <div class="card text-white bg-secondary">
            <div class="card-header">Header</div>
            <div class="card-body">
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
    
        <div class="col-3 mb-4">
          <div class="card text-white bg-success">
            <div class="card-header">Header</div>
            <div class="card-body">
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
    
        <div class="col-3 mb-4">
          <div class="card text-white bg-danger">
            <div class="card-header">Header</div>
            <div class="card-body">
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
    
      </div>
    </div>
    <!--Fim da Área do formulário-->
  
    <!--Container do cardápio-->
    <div class="container mt-3">
  
      <div class="card">
  
        <div class="card-header">
  
          Itens Cadastrados
  
        </div>
  
        <div class="card-body">
          <div class="card-deck">
            
            <div class="card w-auto text-center">
                   
  
              <div class="card-body">
                <img th:src="@{/images/sopa.png}" class="img-fluid" alt="...">
                <h5 class="card-title"></h5>
                <p class="card-text">Sopa de Feijão</p>
                <p class="card-text"><small class="text-muted">Valor: R$45,00</small></p>
                <a href="#" class="btn btn-primary">Marcar como destaque</a>
              </div>
  
            </div>
  
            <div class="card w-auto text-center">
              
  
              <div class="card-body">
                <img th:src="@{/images/hamb.png}" class="img-fluid" alt="...">
                <h5 class="card-title"></h5>
                <p class="card-text">Big Burgão</p>
                <p class="card-text"><small class="text-muted">Valor: R$25,00</small></p>
                <a href="#" class="btn btn-primary">Marcar como destaque</a>
              </div>
  
            </div>
  
            <div class="card w-auto text-center">
              
  
              <div class="card-body">
                <img th:src="@{/images/pizza.png}" class="img-fluid" alt="...">
                <h5 class="card-title"></h5>
                <p class="card-text">Pizza 4 Queijos</p>
                <p class="card-text"><small class="text-muted">Valor: R$50,00</small></p>
                <a href="#" class="btn btn-primary">Marcar como destaque</a>
              </div>
  
            </div>
  
          </div>
        </div>
  
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>
  
      </div>

      <div class="mt-3">
        <div class="card">
  
          <div class="card-header">
    
            Pedidos em Andamento
    
          </div>
    
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped table-sm">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Endereço</th>
                    <th>Bairro</th>
                    <th>Previsão de Entrega</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1001</td>
                    <td>Rua X - 141</td>
                    <td>Vila Y</td>
                    <td>20:45</td>
                    <td>
                      <button class="btn btn-success">Entregue</button>
                    </td>
                  </tr>
                  <tr>
                    <td>1021</td>
                    <td>Rua Z - 50</td>
                    <td>Vila A</td>
                    <td>22:00</td>
                    <td>
                      <button class="btn btn-warning">Saiu para entrega</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      </div>

    </div>
  </div>
</body>

</html>